.accordion-content {
  border-left-width: 1px;
  border-left-color: #2f80ed;
  border-left-style: solid;
  &__item {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #2F80ED;
    margin-left: 30px;
    font-weight: normal;
    cursor: pointer;
  }
  .active {
    font-weight: bold;
  }
  .no-underline {
    text-decoration-line: none;
  }
  &__date {
    color: black;
    font-family: 'Roboto';
    font-size: 18px;
    margin-left: 8px;
    margin-top: 25px;
  }
}
